<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

          
<html>
    
    <head>
    <div th:replace="fragments/header :: header-css"></div>
      
    </head>


    <body>
       <div th:replace="fragments/header :: header-js"></div>
      <h1 th:text="#{title}">test</h1>
      <h6>XXXX</h6>
      <h1 th:text="#{footer}">test</h1>
    </body>
  </html>
        
